html{
	background-image: url("blackness.png");
	background-size: cover;
}

img{
	width: 250px;
	height: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid navajowhite;
}

h1,p,a, nav, table, h2, h3, ul,ol,li{
	color: floralwhite;
}

span{
	font-weight: bold;
	color: red;
}

a:hover{
	color: cadetblue;
}

.fulltd{
	color: black;
	text-align: center;
}

#nav_list{
	font-size: 30px;
	text-align: center;
	
}

#styledlist{
	list-style: none;

}

caption{
	color: floralwhite;
	font-size: 20px;
	text-decoration: underline;
}

tr, td, th{

	border: 0px;
}

h2{
	border: 3px solid navajowhite;
	background-color: navajowhite;
	text-align: center;
	font-size: 40px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 20px;
	float: none;
	position: relative;
}

table{
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
}

p{
	text-align: center;
	margin-bottom: 50px;
}

h1{
	font-size: 80px;
	text-align: center;
	margin-bottom: 10px;
}


hr{
	width: 80%;
}

.tr1{
	background-color: dimgrey;

}

.tr2, .tablelink{
	background-color: whitesmoke;
	color: black;
}

#name{
	margin-top: 0;
	text-align: center;
	background-color: navajowhite;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	
 }

#table{
	margin-left: auto;
	margin-right: auto;
}

#lists{
	font-size: 25px;
}

#listone{
	display: inline-block;
	text-align: center;
	align-content: center;
	width: 100%;
}
#listoneone{
	display: inline-block;
	position: relative;

}

#listtwo{
	display:inline-block;
	align-content: center;
	text-align: center;
	width: 100%;
	
}

#listthree{
	display:inline-block;
	position: relative;
	width: 30%;
}

#listwotwo{
	display: inline-block;
	position: relative;
	width: 30%;
}

#Educationandid{
	display: flex;
	justify-content: center;
}
#Education{
	display: inline-block;
	list-style-position: initial;
	
	margin-left: auto;
	
}
#Jobs{
	display: inline-block;
	margin-right: auto;
	
}

.listhead{
	text-align: initial;
	margin-bottom: 0;
}

.listhead2{
	text-align: initial;
}

#quote{
	font-size: 20px;
}

